.status-container {
  align-items: center;
  box-sizing: border-box;
  color: var(--color-primary);
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 0.5rem;

  // Workaround for iOS < 14.5 which doesn't support gap for flexbox
  @supports (-webkit-touch-callout: none) and (not (translate: none)) {
    &:not(:last-child) {
      margin-right: 1.25rem;
    }
  }

  &.display-none {
    display: none;
  }

  &.animate-pulse {
    --pulse-size: 1.2;
    --pulse-duration: 0.5s;

    animation: pulse var(--pulse-duration) ease-in-out;
  }

  &.animate-bounce-negative {
    --bounce-duration: 1s;
    --bounce-ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
    --bounce-ease-in: cubic-bezier(0.755, 0.05, 0.855, 0.06);

    animation: bounce var(--bounce-duration) ease-in-out, color-negative var(--bounce-duration);
  }

  &.animate-tada {
    --tada-duration: 1s;

    animation: tada var(--tada-duration) linear;
  }

  .status-container-values {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;

    span.delimiter {
      text-align: center;
      width: 1rem;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(var(--pulse-size), var(--pulse-size), var(--pulse-size));
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  100% {
    animation-timing-function: var(--bounce-ease-in);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: var(--bounce-ease-out);
    transform: translate3d(0, -1rem, 0) scaleY(1.1);
  }

  70% {
    animation-timing-function: var(--bounce-ease-out);
    transform: translate3d(0, -0.5rem, 0) scaleY(1.05);
  }

  80% {
    animation-timing-function: var(--bounce-ease-in);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes color-negative {
  10%, 90% {
    color: var(--color-negative);
  }
}
