.status-container {
  align-items: center;
  box-sizing: border-box;
  color: var(--color-primary);
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 0.5rem;

  // Workaround for iOS < 14.5 which doesn't support gap for flexbox
  @supports (-webkit-touch-callout: none) and (not (translate: none)) {
    &:not(:last-child) {
      margin-right: 1.25rem;
    }
  }

  &.display-none {
    display: none;
  }

  &.animate-pulse {
    --pulse-size: 1.2;
    --pulse-duration: 0.5s;

    animation: pulse var(--pulse-duration) ease-in-out;
  }

  &.animate-head-shake-negative {
    --head-shake-duration: 1s;

    animation: head-shake var(--head-shake-duration) ease-in-out, color-negative var(--head-shake-duration);
  }

  &.animate-tada {
    --tada-duration: 1s;

    animation: tada var(--tada-duration) linear;
  }

  .status-container-values {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;

    span.delimiter {
      text-align: center;
      width: 1rem;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(var(--pulse-size), var(--pulse-size), var(--pulse-size));
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes head-shake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}

@keyframes color-negative {
  10%, 90% {
    color: var(--color-negative);
  }
}
