html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.h5p-gamifier {
  --color-box-shadow: rgb(166 166 166 / 20%);
  --color-disabled: rgb(128 128 128 / 95%);
  --color-text-light: #fff;

  --color-primary: rgb(26, 115, 217);
  --color-primary-5: rgba(26, 115, 217, .05);
  --color-primary-10: rgba(26, 115, 217, .1);
  --color-primary-15: rgba(26, 115, 217, .15);
  --color-primary-25: rgba(26, 115, 217, .25);
  --color-primary-90: rgba(26, 115, 217, .9);
  --color-primary-95: rgba(26, 115, 217, .95);

  --color-primary-dark: rgb(23, 104, 196);
  --color-primary-dark-80: rgb(23 104 196 / 80%);

  --color-negative: hsl(358, 53%, 41%);

  /* Icons */
  --icon-fontawesome-heart: '\f004';
  --icon-fontawesome-clock: '\f017';
  --icon-fontawesome-star: '\f005';
  --icon-fontawesome-circle-alt: '\f10c';
  --icon-fontawesome-volume-off: '\f026';
  --icon-fontawesome-volume-high: '\f028';
  --icon-fontawesome-compress: '\f066';
  --icon-fontawesome-expand: '\f065';
  --icon-fontawesome-chevron-left: '\f053';
  --icon-fontawesome-chevron-right: '\f054';
  --icon-fontawesome-xmark: '\f00d';
  --icon-fontawesome-cog: '\f013';
}
