.h5p-gamifier-button-bar {
  --button-size: 3rem;
  --background-size: 1.25rem;
  --border-size: 2px;

  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin: 0.5em;
  overflow: hidden;
}
