.h5p-gamifier-button-bar.header {
    --padding-header: 0.5rem;
    box-shadow: 0.125rem 0.125rem 0.5rem var(--color-box-shadow);
    flex-wrap: wrap;
    justify-content: center;
    min-height: calc(var(--button-size) + 2 * var(--padding-header));
    padding: var(--padding-header);

  .status-containers {
    margin-inline: auto 1rem;

    .status-container-time {
      &::before {
        content: var(--icon-fontawesome-clock);
        font-family: "H5PFontAwesome4", sans-serif;
      }
    }

    .status-container-score {
      &::before {
        content: var(--icon-fontawesome-star);
        font-family: "H5PFontAwesome4", sans-serif;
      }
    }
  }

  .h5p-gamifier-buttons-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
